%p
  The <strong>Asset Fleet Builder</strong> analyzes the inventory for your organization and generates
  a set of asset fleets by grouping by certain parameters. These fleets are submitted for NTD reporting.
%p
  Once the builder has completed, please review your fleets.
