%p
  The <strong>Asset Fleet Builder</strong> analyzes the inventory for your organization and groups your assets
  into fleets following certain parameters for NTD reporting. To automate, you can:
  %ul
    %li Delete all existing fleets and create all new fleets from your inventory. Note: you will lose any existing fleet data.
    %li Add new assets to existing fleets. Note: new fleets will be created if there are no fleets where all the assets have the same parameters.
    %li Add new assets to new fleets.
%p
  Once the builder has completed, you will receive a notification. Please review your fleets at that time and add fleet specific information.
