%ul.nav.nav-tabs
  %li
    %a{:href => "#ntd", :data =>{:toggle => 'tab'}}
      = "NTD"
  %li
    %a{:href => "#assets", :data =>{:toggle => 'tab'}}
      %span{:style => 'white-space: nowrap !important;'}
        Assets
        %span.badge= @asset_fleet.total_assets_count

.tab-content{:style => 'max-height:400px;overflow-y: auto;'}
  .tab-pane.fade#ntd
    .tab-content
      - @asset_fleet.group_by_fields(true).each do |k, v|
        = format_field(k, v.to_s)

  .tab-pane.fade#assets
    .tab-content
      = render :partial => 'assets/asset_compact_datatable', :locals => {:assets => @asset_fleet.assets}