%ul.nav.nav-tabs
  %li
    %a{:href => "#ntd", :data =>{:toggle => 'tab'}}
      = "NTD"
  %li
    %a{:href => "#assets", :data =>{:toggle => 'tab'}}
      %span{:style => 'white-space: nowrap !important;'}
        Assets
        %span.badge= @asset_fleet.total_count

.tab-content{:style => 'max-height:400px;overflow-y: auto;'}
  .tab-pane.fade#ntd
    .tab-content
      - data = @asset_fleet.formatted_group_by_fields
      - data[:labels].zip(data[:data],data[:formats]).each do |row|
        = format_field(row[0], format_using_format(row[1], row[2]))

  .tab-pane.fade#assets
    .tab-content
      = render :partial => 'asset_fleets/asset_compact_datatable', :locals => {:assets => @asset_fleet.assets}