- unless @asset_fleet.homogeneous
  .alert.alert-danger
    Assets do not have similar properties. Please correct.
= format_field("Organization", link_to(@asset_fleet.organization.short_name, organization_path(@asset_fleet.organization)))
= format_field(@asset_fleet.ntd_id_label, @asset_fleet.ntd_id)
= format_field("Active", format_as_boolean(@asset_fleet.active))