%ul.nav.nav-tabs
  %li.active
    %a{:href => "#fleets", :data =>{:toggle => 'tab'}}
      Fleet Manager
  %li
    %a{:href => "#ntd", :data =>{:toggle => 'tab'}}
      NTD Reports

.tab-content
  .tab-pane.fade.in.active#fleets
    .tab-content
      .col-sm-12.col-md-10.col-md-offset-1
        .row
          .col-md-12
            = render :partial => 'asset_fleets/index_table'

  .tab-pane.fade#ntd
    .tab-content
      .col-sm-12.col-md-10.col-md-offset-1
        .row
          .col-md-12
            = render :partial => 'index_table', :locals => {:forms => @forms}
